<nav>
  <img src="/imatges/logo.png" alt="Logo" style="height:40px; vertical-align:middle; margin-right:10px;">
  <a href="/">Inicio</a>
  <a href="/movies">Películas</a>
  <a href="/customers">Clientes</a>
</nav>