{{> header}}
{{> menu}}

<h1>🎬 Movies List</h1>

{{#each movies}}
  <div>
    <h3>{{title}} ({{release_year}})</h3>
    <strong>Actors:</strong>
    <ul>
      {{#each actors}}
        <li>{{first_name}} {{last_name}}</li>
      {{/each}}
    </ul>
  </div>
{{/each}}

{{> footer}}